.inicio {
    min-width: 420px;
    background-color: var(--coffeLy);
    display: flex;
    flex-direction: column;
    color: var(--coffeLy-font);
    font-size: larger;
    min-height: 88.9%;
}

h1 {
    font-family: Basker;
    font-size: xx-large;
    text-align: center;
    margin-top: 0.5em;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 3vh;
}

.item {
    border-radius: 18px;
    -webkit-box-shadow: 0px 0px 7px 0px #997d30; 
    box-shadow: 0px 0px 7px 0px #997d30;
    color: #A6A7A3;
}

td {
    align-content: center;
    text-align: center;
    width: calc(100% / 3);
    min-height: 45px;
    vertical-align: middle;
    padding: 5px;
}

tr:first-child {
    height: 50px;
}

.bold {
    font-weight: bold;
}

.item span {
    font-family: Basker;
}

.delete img {
    height: 2rem;
    cursor: pointer;
}

.btn {
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    font-size: large;
    text-decoration: none;
    font-family: Basker;
    color: black;
    position: relative;
    display: inline-block;
    background-color: var(--coffeLy-font);
    box-shadow: 0px 5px 0px 0px #997d30;
    cursor: pointer;
  }
  
  .btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
  }
  
  
  .btn:hover {
    background-color: #dbb754;
  }

  .btn span {
    font-size: larger;
  }