<header>
    <app-nav-empresa></app-nav-empresa>
</header>

<div class="contenedor">
    <h1 class="titulo">Lavado </h1>
    <div class="contenedor-2"> 
        <div class="card-info"> 
            <p>Fecha 1: es la fecha y hora a la que empieza el lavado del lote. </p>
            <p>Fecha 2: es la fecha y hora a la que finaliza el lavado del lote. </p>
            <p>Mucilago 1: masa de mucilago que entra al proceso, medida en kilogramos. </p>
            <p>Mucilago 2: masa de mucilago que sale del proceso, medida en kilogramos. </p>
            <p>Agua: cantidad de agua utilizada en el lavado, medida en litros. <p>
        </div>
        <form class="card-lavado" (ngSubmit)="submit()" [formGroup]="lavadoForm">
            <div class="form-group">
                <label for="inputFechaInicio">Fecha inicial</label>  
                <input type="datetime-local" id="inputFechaInicio" formControlName="fechaInicio">
            </div>    
            <div class="form-group">
                <label for="inputFechaFinal">Fecha final</label>  
                <input type="datetime-local" id="inputFechaFinal" formControlName="fechaFinal">
            </div>
            <div class="form-group">
                <label for="inputCantidadEntra">Cantidad entrante</label>
                <input type="number" step="any" min="0" placeholder="0 (kg)" id="inputCantidadEntra" formControlName="cantidadEntra">
            </div> 
            <div class="form-group">
                <label for="inputCantidadSale">Cantidad saliente</label>
                <input type="number" step="any" min="0" placeholder="0 (kg)" id="inputCantidadSale" formControlName="cantidadSale">
            </div> 
            <div class="form-group">
                <label for="inputCantidadAgua">Cantidad de agua</label>
                <input type="number" step="any" min="0" placeholder="0 (L)" id="inputCantidadAgua" formControlName="cantidadAgua">
            </div>
            <div class="form-group">
                <label for="inputMaquina">Maquina</label>
                <select name="miselect" id="inputMaquina" formControlName="maquina">
                    <option [ngValue]="objeto.id" *ngFor="let objeto of lista">{{objeto.marca}}-{{objeto.modelo}} #{{objeto.id}}</option>
                </select>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Ingresar">
            </div>
        </form>
    </div>
        
</div>
