.contenedor{
    display: flex;
    background-color: var(--coffeLy);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    gap: 5vh;
    min-width: 100vw;
    padding-bottom: 10vh;
}

.titulo{
    background-size: cover;
    font-family: Basker;
    text-align: center;
    color: #C29F42;
}

.contenedor-2{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: space-evenly;
    flex-direction: row;
    align-items: center;
    gap: 5vh;
}

.card-info{
    width: 30vw;
    min-width: 300px;
    min-height: 20vh;
    color:#C29F42;
    border: #C29F42 4px;
    border-style: outset;
}

.card-info p{
    margin: 2vh 2vw 2vh 2vw;
}

.card-lavado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-width: 300px;
    gap: 30px;
    background-color: rgba(148, 148, 148, 0.2);
    color: #C29F42;
    padding: 20px 0px;
}

.form-group{
    display: flex;
    flex-direction: column;
}

input{
    width: max-content;
}

input text {
    width: auto;
}

form label{
    margin: 0.5em;
}
form input{
    margin: 0.5em;
    outline: .1em solid #C29F42;
}

@media only screen and (max-width: 768px) {
    
    .contenedor{

        display: flex;
        background-color: var(--coffeLy);
        background-repeat: no-repeat;
        background-size: cover;
        align-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 5vh;
        gap: 5vh;
        padding-bottom: 10vh;
    }
    .contenedor-2{
        display: flex;
        background-repeat: no-repeat;
        background-size: cover;
        align-content: space-evenly;
        flex-direction: column;
        align-items: center;
        gap: 10vh;
    }

    .card-info{
        width: 50vw;
        min-width: 250px;
        min-height: 30vh;
        color:#C29F42;
        border: #C29F42 4px;
        border-style: outset;
    }
    
    .card-info p{
        margin: 2vh 2vw 2vh 2vw;
    }
    
    .card-lavado{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 55vw;
        min-width: 320px;
        gap: 30px;
        background-color: rgba(148, 148, 148, 0.2);
        color: #C29F42;
        padding: 20px 20px;
    }
    input{
        width: fit-content;
    }
  }