nav{
    min-width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--coffeLy-font);
    justify-content: space-between;

    .logo{
        margin: 10px 0 10px 10px;

        img{
            height: 9vh;
        }
    }

    li{
        display: inline;
        margin: 0 10px 0 10px;
        a{
            font-size: large;
            text-decoration: none;
            color: var(--coffeLy);
            cursor: pointer;
        }
        .salir{
            cursor: pointer;
        }
    }
}