<header *ngIf="isFinca$; else elseBlock">
    <app-nav-finca></app-nav-finca>
</header>
<ng-template #elseBlock>
    <app-nav-empresa></app-nav-empresa>
</ng-template>
<div class="register">
    <h1>Registrar nuevo usuario</h1>
<div class="container">
    <form (ngSubmit)="submit()" class="card-login" [formGroup]="registerForm">
        <div class="form-group">
            <label for="inputName">Nombre</label>  
            <input type="text" placeholder="Juan Peréz" id="inputName" formControlName="name">
        </div> 
        <div class="form-group">
            <label for="inputEmail">Correo</label>  
            <input type="text" placeholder="Ej: ejemplo@gmail.com" id="inputEmail" formControlName="correo">
        </div> 
        <div class="form-group">
            <label for="inputCedula">Cédula</label>  
            <input type="number" min="0" step="none" placeholder="CC: XXXXXXXXXX" id="inputCedula" formControlName="cedula">
        </div>
        <div class="form-group">
            <label for="inputCelular">Celular</label>  
            <input type="number" min="0" step="none" placeholder="+57 XXXXXXXXXX" id="inputCelular" formControlName="celular">
        </div>
        <div class="form-group">
            <label for="inputFecha">Fecha de nacimiento</label>  
            <input type="text" onfocus="(this.type = 'date')" placeholder="01/01/2022" id="inputFecha" formControlName="fecha">
        </div>
        <div class="form-group">
            <label for="inputContrasena">Contraseña</label> 
            <input type="password" placeholder="Escribe tu contraseña" id="inputContrasena" formControlName="password">
        </div>  
        <div class="form-group">
            <label for="inputContrasena2">Confirma tu contraseña</label> 
            <input type="password" placeholder="Escribe tu contraseña" id="inputContrasena2" formControlName="confirmPassword">
        </div>     
        <div class="form-group">
            <input type="submit" value="Registrar">
        </div>        
    </form>
</div>
</div>