<header style="background: #282726;">
    <app-nav-bar></app-nav-bar>
</header>
<div class="body">
<section><img class="img-fluid d-md-none" src="assets/banner_home_celular.png">
    <div class="contenedor" data-bss-scroll-zoom="true" data-bss-scroll-zoom-speed="0.3" style="background: url(&quot;assets/banner_home.png&quot;) center / cover;">
        <div class="text-center d-flex flex-column justify-content-center align-items-center py-4 px-3 hero-content" style="/*background: #282726;*/">
            <h1 class="display-1 fw-bold" id="titulo" style="--bs-primary: #C29F42;--bs-primary-rgb: 194,159,66;--bs-secondary: #282726;--bs-secondary-rgb: 40,39,38;color: #C29F42;font-family: Basker;z-index: 100;line-height: normal;">Para siempre<br>ir al grano</h1>
            <p id="encabezado" style="color: #D1B272;font-family: Basker;z-index: 100; line-height: 30px;">Somos un sistema de trazabilidad y registro de entidades asociadas al café, también generamos empleo<br>relacionadas con el sector de producción cafetero</p>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center py-5">
                <h1 style="color: #C29F42;font-family: Basker;font-size: xx-large;">Para el trazo del día a día</h1>
                <h3 class="display-6 fw-bold mb-4" style="color: #C29F42;font-family: Basker;">Cosecha, siembra, tuesta, trilla...</h3>
                <p style="color: #C29F42;font-family: Basker;">Cada paso que tome tu lote es información importante para nosotros</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card text-white"><img class="card-img w-100 d-block d-md-none" src="assets/banner_card1_celular.png"><img class="card-img w-100 d-block d-none d-md-block" src="assets/banner_card1.png">
                    <div class="card-img-overlay flex-column align-items-start p-4 card-content-half p-xl-5">
                        <h4 class="mt-md-auto" style="color: #282726;padding-top: 0px;padding-bottom: 0px;font-family: Basker;font-size: xx-large;line-height: normal;">Trazado y registro del café</h4>
                        <p style="color: #282726;font-family: Basker;">Siempre tenga claro de donde viene su café y todo por lo que ha pasado para poder estar en su mesa.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-md-6">
                <div class="card"><img class="card-img w-100 d-block" src="assets/banner_card2.png">
                    <div class="card-img-overlay d-flex flex-column align-items-start p-4 p-xl-5">
                        <h4 style="font-family: Basker;font-size: xx-large;line-height: normal;">Ten siempre tus datos seguros y a la mano</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-white"><img class="card-img w-100 d-block" src="assets/banner_card3.png">
                    <div class="card-img-overlay d-flex flex-column align-items-start p-4 p-xl-5">
                        <h4 style="font-family: Basker;font-size: xx-large;line-height: normal;">La forma más facil de llevar el café</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<footer>
    <app-footer></app-footer>
</footer>