<footer style="background: #282726;">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3></h3><img src="assets/Logo.png" width="125" height="125">
            <p class="company-name" style="color: #C29F42;">CoffeLy © 2022-2024</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p style="color: #C29F42;"><span class="new-line-span"></span> Bogotá, Colombia</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-start" style="color: #C29F42;">+57 3102536000</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">trazacumbres@outlook.com</a></p>
            </div>
        </div>
        <div class="col-md-4 footer-about">
            <h4 style="color: #C29F42;">Acerca de nosotros</h4>
            <p> Herramienta enfocada en la trazabilidad del proceso de café diseñada para su uso por Cumbres Sacras. </p>
            <div class="social-links social-icons"><a><i>U</i></a><a><i>N</i></a><a><i>I</i></a><a><i>A</i></a><a><i>N</i></a><a><i>D</i></a><a><i>E</i></a><a><i>S</i></a></div>
            <div class="social-links social-icons"><span style="font-weight: normal; color: #92999f;">Santiago:</span><a style="margin-right: 10px; margin-left: 10px;" href="https://github.com/SantisanR2"><i class="fab fa-github-square" style="color: #212529;"></i></a><span style="font-weight: normal; color: #92999f;">Juan Pablo:</span><a style="margin-left: 10px;" href="https://github.com/Garasnote"><i class="fab fa-github-square" style="color: #212529;"></i></a></div>
        </div>
    </div>
</footer>
