<footer style="background: #282726;">
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3></h3><img src="assets/Logo.png" width="125" height="125">
            <p class="company-name" style="color: #C29F42;">CoffeLy © 2022-2024</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p style="color: #C29F42;"><span class="new-line-span"></span> Bogotá, Colombia</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-start" style="color: #C29F42;">+57 3013575911</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">coffeely@company.com</a></p>
            </div>
        </div>
        <div class="col-md-4 footer-about">
            <h4 style="color: #C29F42;">Acerca de nosotros</h4>
            <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
            <div class="social-links social-icons"><a><i>U</i></a><a><i>N</i></a><a><i>I</i></a><a><i>A</i></a><a><i>N</i></a><a><i>D</i></a><a><i>E</i></a><a><i>S</i></a></div>
        </div>
    </div>
</footer>
