<header>
    <app-nav-finca></app-nav-finca>
</header>
<div style="background: #282726;min-height: 100%;" class="inicio">
    <h1 class="text-center" style="color: #C29F42;margin-bottom: 18px;font-weight: bold;padding-top: 18px;font-family: basker;">LOTES</h1>
    <div class="d-flex d-md-flex justify-content-end justify-content-md-end" style="margin-bottom: 20px;"><button class="btn btn-primary d-md-flex align-items-md-center" type="button" (click)="nuevo()" style="background: #C29F42;color: #282726;margin-right: 28px;border-color: #282726;"><i class="fas fa-plus-square" style="margin-right: 8px;"></i>Nuevo Lote</button></div>
    <div class="card" style="margin-left: 29px;margin-right: 29px;background: rgba(148, 148, 148, 0.2);color: #C29F42;margin-bottom: 40px;" *ngFor="let lote of respuesta">
        <div class="card-header">
            <h2 class="mb-0" style="font-weight: bold;font-family: basker;">Lote #{{lote.id}}</h2>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-4" style="margin-left: 0px;">
                        <h3 style="font-family: basker;">Cantidad</h3>
                        <p style="font-style: italic;">{{lote.cantidad}} kg</p>
                    </div>
                    <div class="col-md-4">
                        <h3 style="font-family: basker;">Estado</h3>
                        <p style="font-style: italic;" class="capitalize">{{lote.estado}}</p>
                    </div>
                    <div class="col-md-4 d-md-flex justify-content-md-end align-items-md-center justify-content-lg-end justify-content-xl-end justify-content-xxl-end">
                        <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" data-bs-auto-close="outside" type="button" style="border-top-left-radius: 8px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;background: #C29F42;color: #282726;border-width: 1px;border-color: #282726;">Opciones</button>
                            <div class="dropdown-menu dropdown-menu-dark">
                                <a class="dropdown-item" (click)="detail(lote.id)"><i class="far fa-file-alt" style="padding-right: 10px;"></i>Historial</a>
                                <a class="dropdown-item" (click)="edit(lote.id)"><i class="far fa-edit" style="padding-right: 10px;"></i>Editar</a>
                                <a class="dropdown-item" (click)="delete(lote.id)" style="background: #cf4040;"><i class="far fa-trash-alt" style="padding-right: 10px;"></i>Eliminar</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>